name: "Deployment of Infra Pipeline"

on: workflow_dispatch

permissions:
  id-token: write
  contents: read
jobs: 
  terraform-init-plan:
    runs-on: self-hosted
    environment: dev
    steps:    
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: 918c3b0b-f07e-4c17-baad-3b0bfda0506b
          tenant-id:  6908105e-8b24-478b-8bcb-caded78a2bcc
          subscription-id: ff1980ab-1170-4014-971d-df65aabf1e5b
          
      - name: Terraform fmt
        run: terraform fmt -recursive
        working-directory: environments/dev

      - name: Terraform Init
        id: init
        run: terraform init -input=false
        working-directory: environments/dev
        
      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
        working-directory: environments/dev

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false
        continue-on-error: true
        working-directory: environments/dev
        
  terraform-apply: 
    runs-on: self-hosted
    needs: terraform-init-plan
    environment: dev
    steps:    
      - name: Checkout
        uses: actions/checkout@v5.0.0
        
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: 918c3b0b-f07e-4c17-baad-3b0bfda0506b
          tenant-id:  6908105e-8b24-478b-8bcb-caded78a2bcc
          subscription-id: ff1980ab-1170-4014-971d-df65aabf1e5b

      - name: Terraform Init
        id: init
        run: terraform init -input=false  
        working-directory: environments/dev

      - name: Terraform Apply
        id: apply
        run: terraform apply --auto-approve
        continue-on-error: true
        working-directory: environments/dev   
          

